{% extends "layout.html" %}

{% block body %}
    <body>
    
        <main>
            <div class="container">
                <!-- <h2>Pokedex</h2> -->


                <div class="row row-cols-2 row-cols-md-3 g-5">
                    <div class="col">
                      <div class="card">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" class="card-img-top" alt="...">
                        <h5 class="card-title px-3">Bulbasaur</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary px-3 mb-3"># 1 - Seed Pokémon (Gen 1)</h6>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <div class="card">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png" class="card-img-top" alt="...">
                            <h5 class="card-title px-3">Ivysaur</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary px-3 mb-3"># 2 - Seed Pokémon (Gen 1)</h6>
                          </div>
                      </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/3.png" class="card-img-top" alt="...">
                                <h5 class="card-title px-3">Venasaur</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary px-3 mb-3"># 3 - Seed Pokémon (Gen 1)</h6>
                              </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card">
                            <div class="card">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png" class="card-img-top" alt="...">
                                <h5 class="card-title px-3">Charmander</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary px-3 mb-3"># 4 - Lizard Pokémon (Gen 1)</h6>
                              </div>
                        </div>
                      </div>
                </div>



            </div>
        </main>

    </body>
{% endblock %}
